
{% extends "base.html" %}

{% block page_content %}

<div class="container content-center">

<div class="jumbotron">
  <h3 class="display-5 text-primary" style="font-family: 'Roboto', sans-serif;text-transform: capitalize;" >Hi, {{ session.name}}!</h5>
  <p class="lead">This is a simple note taking app, a simple style web application for taking quick notes that needs extra attention.</p>
  <!--hr class="my-4"-->
 </div>

{% for note in notes %}
	<div class="card">
	  <div class="card-body">
	    <h4 class="card-title text-success text-capitalize"> {{ note.title }} </h4>
	    <p class="card-text" style="font-family: 'Lato', sans-serif;">{{ note.body|safe }}</p>
		<small> Written by {{ note.username }} on {{note.create_date}}</small>
    <ul class="nav nav-pills float-right">
      <li class="nav-item"> <a href="#" type="button" class="btn btn-outline-primary"> Edit </a> </li>
      <li class="nav-item"> <a href="#" type="button" class="btn btn-outline-danger">Delete</a> </li>
    </ul>
	  </div>
	</div>
{% endfor %}

</div>
{% endblock %}
