
{% extends "base.html" %}

{% block page_content %}  

<div class="container content-center">

<div class="jumbotron">
  <h5 class="display-4 text-primary" style="font-family: 'Indie Flower', cursive;" >Hello, {{ session.name}}!</h5>
  <p class="lead">This is a simple note taking app, a simple style web application for taking quick notes that needs extra attention.</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
  </p>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>


</div>
{% endblock %}
